# More on Clang format style options here:
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

AccessModifierOffset: 1
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: true
BitFieldColonSpacing: Both
BreakBeforeBraces: Allman
BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
  AfterControlStatement: true
  BeforeElse: true
  BeforeCatch: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ColumnLimit: 150
EmptyLineBeforeAccessModifier: Always
IncludeBlocks: Regroup
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentWidth: 4
ContinuationIndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
SeparateDefinitionBlocks: Always

