BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
ColumnLimit: 80
ContinuationIndentWidth: 8
IndentCaseLabels: true
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesBeforeTrailingComments: 1
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
PointerAlignment: Right
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false
ReflowComments: false
