Source: logx
Section: libs
Priority: optional
Maintainer: Kulasekaran <kulasekaranslrk@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.0

Package: logx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LogX - A production-grade logging library for C
 LogX is a lightweight, customizable logging library written in C, designed for production-grade embedded and Linux systems.
